.bg-white
  .mx-auto.max-w-2xl.text-center
    %h2.text-3xl.font-bold.tracking-tight.text-gray-900.sm:text-4xl WineSkills
    %p.mt-2.text-lg.leading-8.text-gray-600
      The best wines from the best regions in the world.

  .bg-indigo-700.rounded-md.mt-16.py-16.sm:py-24.lg:py-32
    .mx-auto.grid.max-w-7xl.grid-cols-1.gap-10.px-6.lg:grid-cols-12.lg:gap-8.lg:px-8
      .max-w-xl.text-3xl.font-bold.tracking-tight.text-white.sm:text-4xl.lg:col-span-7
        %h2.inline.sm:block.lg:inline.xl:block Find the wine which fits your taste.

      = form_tag wines_path, method: :get, class: "w-full max-w-md lg:col-span-5 lg:pt-2" do
        .flex.gap-x-4
          = text_field_tag :q, params[:q], class: "min-w-0 flex-auto rounded-md border-0 py-2 text-white shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-inset focus:ring-white sm:text-sm sm:leading-6 bg-white/10 px-3.5 ring-white/10 placeholder:text-white/75", placeholder: "Enter words", required: true
          = button_tag "Search", class: "flex-none rounded-md bg-white text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-50 focus-visible:outline px-3.5 py-2.5 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"

  .mt-16.flex.w-full.justify-center
    = sanitize(pagy_info(@pagy))

  .mx-auto.mt-16.grid.max-w-2xl.auto-rows-fr.grid-cols-1.gap-8.sm:mt-20.lg:mx-0.lg:max-w-none.lg:grid-cols-3

    - @wines.each do |wine|
      .relative.isolate.flex.flex-col.justify-end.overflow-hidden.rounded-2xl.bg-gray-900.px-8.pb-8.pt-80.sm:pt-48.lg:pt-80
        - if wine.picture.attached?
          = image_tag(wine.picture, class: "absolute inset-0 -z-10 h-full w-full object-cover", alt: "")

        .absolute.inset-0.-z-10.bg-gradient-to-t.from-gray-900{:class => "via-gray-900/40"}
        .absolute.inset-0.-z-10.rounded-2xl.ring-1.ring-inset{:class => "ring-gray-900/10"}

        .flex.flex-wrap.items-center.gap-y-1.overflow-hidden.text-sm.leading-6.text-gray-300
          = wine.region.name

        %h3.mt-3.text-lg.font-semibold.leading-6.text-white
          = link_to wine do
            %span.absolute.inset-0
            = wine.name

  .py-16.w-full.flex.justify-center
    .pagy
      = sanitize(pagy_nav(@pagy)) if @pagy.pages > 1
